.promotion-choices {
    height: 12.5%;
}

.promotion-choices .piece {
    width: 25%;
    height: 100%;
    border: 1px solid var(--dark-tile);
}

.promotion-choices .piece:hover {
    box-shadow: 0 0 0 5px var(--dark-tile) inset;
    transform : scale(1.05);
}
.promotion-choices :is(.white-queen, .black-queen) {
    left :0;
}
.promotion-choices :is(.white-rook, .black-rook) {
    left :25%;
}
.promotion-choices :is(.white-bishop, .black-bishop) {
    left :50%;
}
.promotion-choices :is(.white-knight, .black-knight) {
    left :75%;
}