@import './constants.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
  margin: 0;
  padding: 0;
}

.App {
  display: grid;
  place-content: center;
  height: 100vh;
  background : var(--bg-color);
  font-family: 'Montserrat', sans-serif;;
}
