:root {
    --tile-size : 80px;
    --light-tile : #E9EDCC;
    --dark-tile : #779954;
    --bg-color : #202020;
    --highlight : rgba(0,0,0,.1);
    --check : #facf4d;
}

@media all and (max-width: 450px) {
    :root {
        --tile-size : 50px;
    }
}